<li>
  <span class="content">
    <%= micropost.content %>
  </span>
  <%= render partial: 'shared/inline_timestamp', locals: { post: micropost } %>
  <%= render partial: 'shared/delete_micropost_link', locals: { post: micropost } %>
</li>